html, body {
    margin: 0;
    height: 100%;
    background-color: #285726;
    color: #fdfdfd;
  }
/*----------------------------------------------------------Index.html*/
/*---------------------------------------------Nav Bar*/
.logo {
    color: rgb(255, 215, 0);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    font-family:sans-serif;
  }

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #000000;
    height: 75px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    font-family:sans-serif;
    background-color: #fdfdfd;
    padding: 5px;
    border: 3px solid green;
    border-radius: 5px;
  }

  .menu li {
    padding: 1%;
    margin-right: 10px;
  }

  .menu a:hover {
    background-color: #285726;
    color: #fafafa;
  }

  nav a.active {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    font-family:sans-serif;
    background-color: #285726;
    padding: 5px;
    border: 3px solid green;
    border-radius: 5px;
  }
/*-------------------------------------------Hero Image*/
  .heroimage {
    width: 100%;
    padding: 10px;
}
/*---------------------------------------Summary of Halo*/
.index-summary{
    padding: 10px;
    text-align: center;

}
.index-summary h1 {
    text-decoration: underline;
}
/*---------------------------------------Order Types*/
.order-types {
    padding: 10px;
    text-align: center;
}
.order-types h2,h3{
    text-decoration: underline;
}

/*---------------------------------------Reason for site*/

.reason{
    padding: 10px;
    text-align: center;
}
.reason h2{
    text-decoration: underline;
}

/*---------------------------------------footer*/
.footer{
    background: #000000;
    padding: 1em;
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    right: 0;
}

.social-networks{
    text-align: center;
  }
  
  .social-networks li{
    display: inline;
  
  }
  
  .social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fafafa;
  }


  /* -----------------------------------------------------Media Queries */
@media only screen and (min-width: 1440px){
  p {
    font-size: 1.3em;
  }
/*---------------------------------------------Nav Bar*/
.logo {
  font-size: 25px;
}

.nav-bar {
  height: 100px;
}
.menu li a {
  font-size: 22px;
}
/*-------------------------------------------Hero Image*/
  .heroimage {
    width: 100%;
    padding-top: 10%;
  }
  
}

/* -----------------------------------------------------Bootstap Overide */
.container-fluid {
  padding: 0;
}